{% extends 'base.html.twig' %}
{%block title%}Admin Dashboard{%endblock%}
{%block body%}
<h1 class="text-6xl font-normal leading-normal mt-0 mb-2 text-purple-300">Admin dashboard</h1>
    <a href="{{logoutUrl}}" class="mt-2 mborder-solid border-2 border-sky-500 text-2xl p-3 bg-purple-300 text-amber-300 font-bold tracking-wider" type="button">Logout</a>

{%endblock%}