{%extends 'baseError.html.twig'%}

{%block header%}
    <h1 class="text-center mb-14 text-5xl font-normal leading-normal text-purple-800">
        {{ status_code }}: {{ status_text }}
    </h1>
    <h2 class="m-6 text-3xl font-normal leading-normal mt-0 mb-2 text-purple-500">If you keep facing this issue, feel free to contact us at this email: admin@company.org</h2>
{%endblock%}
